.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox input[type='checkbox'] {
  display: none;
}

p {
  cursor: default;
}

.checkbox .switch {
  cursor: pointer;
  background-color: var(--white-color);
  width: 40px;
  height: 16px;
  border-radius: 8px;
  padding: 2px;
}

.checkbox .switch__circle {
  background-color: var(--black-color);
  width: 12.5px;
  height: 100%;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.checkbox input:checked + .switch__circle {
  background-color: teal;
  margin-left: calc(100% - 12.5px);
}
